/* Base Color Palettes */
:root, [data-bs-theme=light] {
  --bs-red-hue: 2.774303763225571;
  --bs-red-saturation: 0.48277822399574033;
  --bs-red-50-hsl: 9.34, 100%, 93.37%;
  --bs-red-50: hsl(var(--bs-red-50-hsl));
  --bs-red-50: oklch(255,226,221,1);
  --bs-red-100-hsl: 6.14, 100%, 86.94%;
  --bs-red-100: hsl(var(--bs-red-100-hsl));
  --bs-red-100: oklch(255,195,188,1);
  --bs-red-200-hsl: 5.75, 72.06%, 77.53%;
  --bs-red-200: hsl(var(--bs-red-200-hsl));
  --bs-red-200: oklch(239,164,156,1);
  --bs-red-300-hsl: 5.21, 59.32%, 68.05%;
  --bs-red-300: hsl(var(--bs-red-300-hsl));
  --bs-red-300: oklch(222,134,125,1);
  --bs-red-400-hsl: 4.34, 51.64%, 58.54%;
  --bs-red-400: hsl(var(--bs-red-400-hsl));
  --bs-red-400: oklch(204,103,95,1);
  --bs-red-500-hsl: 2.77, 48.28%, 48.93%;
  --bs-red-500: hsl(var(--bs-red-500-hsl));
  --bs-red-500: oklch(185,70,65,1);
  --bs-red-600-hsl: 358.79, 68.89%, 38.35%;
  --bs-red-600: hsl(var(--bs-red-600-hsl));
  --bs-red-600: oklch(165,30,33,1);
  --bs-red-700-hsl: 0, 100%, 28.29%;
  --bs-red-700: hsl(var(--bs-red-700-hsl));
  --bs-red-700: oklch(144,0,0,1);
  --bs-red-800-hsl: 0, 100%, 23.97%;
  --bs-red-800: hsl(var(--bs-red-800-hsl));
  --bs-red-800: oklch(122,0,0,1);
  --bs-red-900-hsl: 0, 100%, 19.39%;
  --bs-red-900: hsl(var(--bs-red-900-hsl));
  --bs-red-900: oklch(99,0,0,1);
  --bs-red-950-hsl: 0, 100%, 14.49%;
  --bs-red-950: hsl(var(--bs-red-950-hsl));
  --bs-red-950: oklch(74,0,0,1);
  --bs-red-hsl: var(--bs-red-500-hsl);
  --bs-red: hsl(var(--bs-red-hsl));
  --bs-red-foreground-hsl: var(--bs-white-hsl);
  --bs-red-foreground: hsl(var(--bs-red-foreground-hsl));
  --bs-red-text-emphasis-hsl: var(--bs-red-600-hsl);
  --bs-red-text-emphasis: hsl(var(--bs-red-text-emphasis-hsl));
  --bs-red-hover-bg: var(--bs-red-600);
  --bs-red-active-bg: var(--bs-red-700);
  --bs-red-bg-subtle: hsl(var(--bs-red-hue), var(--bs-red-saturation), 70%);
  --bs-red-border-subtle: var(--bs-red-400);
  --bs-red-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-red-dash-svg: var(--bs-dash-svg-light);
  --bs-red-radio-svg: var(--bs-radio-svg-light);
  --bs-red-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-red-text-emphasis-hsl: var(--bs-red-400-hsl);
  --bs-red-text-emphasis: hsl(var(--bs-red-text-emphasis-hsl));
  --bs-red-bg-subtle: hsl(var(--bs-red-hue), calc(var(--bs-red-saturation)/3), 15%);
  --bs-red-border-subtle: var(--bs-red-600);
}

:root, [data-bs-theme=light] {
  --bs-orange-hue: 28.537565593406626;
  --bs-orange-saturation: 1;
  --bs-orange-50-hsl: 29.63, 100%, 90.58%;
  --bs-orange-50: hsl(var(--bs-orange-50-hsl));
  --bs-orange-50: oklch(255,231,207,1);
  --bs-orange-100-hsl: 24.38, 87.05%, 81.82%;
  --bs-orange-100: hsl(var(--bs-orange-100-hsl));
  --bs-orange-100: oklch(249,201,168,1);
  --bs-orange-200-hsl: 24.71, 68.56%, 70.89%;
  --bs-orange-200: hsl(var(--bs-orange-200-hsl));
  --bs-orange-200: oklch(232,172,130,1);
  --bs-orange-300-hsl: 25.31, 59.91%, 59.74%;
  --bs-orange-300: hsl(var(--bs-orange-300-hsl));
  --bs-orange-300: oklch(214,143,91,1);
  --bs-orange-400-hsl: 26.88, 61.09%, 47.59%;
  --bs-orange-400: hsl(var(--bs-orange-400-hsl));
  --bs-orange-400: oklch(195,114,47,1);
  --bs-orange-500-hsl: 28.54, 100%, 34.62%;
  --bs-orange-500: hsl(var(--bs-orange-500-hsl));
  --bs-orange-500: oklch(177,84,0,1);
  --bs-orange-600-hsl: 19.86, 100%, 30.77%;
  --bs-orange-600: hsl(var(--bs-orange-600-hsl));
  --bs-orange-600: oklch(157,52,0,1);
  --bs-orange-700-hsl: 0.71, 100%, 26.77%;
  --bs-orange-700: hsl(var(--bs-orange-700-hsl));
  --bs-orange-700: oklch(137,2,0,1);
  --bs-orange-800-hsl: 0, 100%, 22.58%;
  --bs-orange-800: hsl(var(--bs-orange-800-hsl));
  --bs-orange-800: oklch(115,0,0,1);
  --bs-orange-900-hsl: 0, 100%, 18.12%;
  --bs-orange-900: hsl(var(--bs-orange-900-hsl));
  --bs-orange-900: oklch(92,0,0,1);
  --bs-orange-950-hsl: 0, 100%, 13.27%;
  --bs-orange-950: hsl(var(--bs-orange-950-hsl));
  --bs-orange-950: oklch(68,0,0,1);
  --bs-orange-hsl: var(--bs-orange-500-hsl);
  --bs-orange: hsl(var(--bs-orange-hsl));
  --bs-orange-foreground-hsl: var(--bs-white-hsl);
  --bs-orange-foreground: hsl(var(--bs-orange-foreground-hsl));
  --bs-orange-text-emphasis-hsl: var(--bs-orange-600-hsl);
  --bs-orange-text-emphasis: hsl(var(--bs-orange-text-emphasis-hsl));
  --bs-orange-hover-bg: var(--bs-orange-600);
  --bs-orange-active-bg: var(--bs-orange-700);
  --bs-orange-bg-subtle: hsl(var(--bs-orange-hue), var(--bs-orange-saturation), 70%);
  --bs-orange-border-subtle: var(--bs-orange-400);
  --bs-orange-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-orange-dash-svg: var(--bs-dash-svg-light);
  --bs-orange-radio-svg: var(--bs-radio-svg-light);
  --bs-orange-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-orange-text-emphasis-hsl: var(--bs-orange-400-hsl);
  --bs-orange-text-emphasis: hsl(var(--bs-orange-text-emphasis-hsl));
  --bs-orange-bg-subtle: hsl(var(--bs-orange-hue), calc(var(--bs-orange-saturation)/3), 15%);
  --bs-orange-border-subtle: var(--bs-orange-600);
}

:root, [data-bs-theme=light] {
  --bs-yellow-hue: 41.04495881965907;
  --bs-yellow-saturation: 1;
  --bs-yellow-50-hsl: 40.94, 94.75%, 89.14%;
  --bs-yellow-50: hsl(var(--bs-yellow-50-hsl));
  --bs-yellow-50: oklch(254,237,201,1);
  --bs-yellow-100-hsl: 41.02, 62.23%, 76.97%;
  --bs-yellow-100: hsl(var(--bs-yellow-100-hsl));
  --bs-yellow-100: oklch(233,210,160,1);
  --bs-yellow-200-hsl: 41.27, 52.5%, 64.75%;
  --bs-yellow-200: hsl(var(--bs-yellow-200-hsl));
  --bs-yellow-200: oklch(212,183,118,1);
  --bs-yellow-300-hsl: 41.97, 48.53%, 52.01%;
  --bs-yellow-300: hsl(var(--bs-yellow-300-hsl));
  --bs-yellow-300: oklch(192,156,73,1);
  --bs-yellow-400-hsl: 45.39, 100%, 33.71%;
  --bs-yellow-400: hsl(var(--bs-yellow-400-hsl));
  --bs-yellow-400: oklch(172,130,0,1);
  --bs-yellow-500-hsl: 41.04, 100%, 29.79%;
  --bs-yellow-500: hsl(var(--bs-yellow-500-hsl));
  --bs-yellow-500: oklch(152,104,0,1);
  --bs-yellow-600-hsl: 35.33, 100%, 25.89%;
  --bs-yellow-600: hsl(var(--bs-yellow-600-hsl));
  --bs-yellow-600: oklch(132,78,0,1);
  --bs-yellow-700-hsl: 27.25, 100%, 21.99%;
  --bs-yellow-700: hsl(var(--bs-yellow-700-hsl));
  --bs-yellow-700: oklch(112,51,0,1);
  --bs-yellow-800-hsl: 13.52, 100%, 18.02%;
  --bs-yellow-800: hsl(var(--bs-yellow-800-hsl));
  --bs-yellow-800: oklch(92,21,0,1);
  --bs-yellow-900-hsl: 0, 100%, 13.91%;
  --bs-yellow-900: hsl(var(--bs-yellow-900-hsl));
  --bs-yellow-900: oklch(71,0,0,1);
  --bs-yellow-950-hsl: 0, 100%, 9.37%;
  --bs-yellow-950: hsl(var(--bs-yellow-950-hsl));
  --bs-yellow-950: oklch(48,0,0,1);
  --bs-yellow-hsl: var(--bs-yellow-500-hsl);
  --bs-yellow: hsl(var(--bs-yellow-hsl));
  --bs-yellow-foreground-hsl: var(--bs-white-hsl);
  --bs-yellow-foreground: hsl(var(--bs-yellow-foreground-hsl));
  --bs-yellow-text-emphasis-hsl: var(--bs-yellow-600-hsl);
  --bs-yellow-text-emphasis: hsl(var(--bs-yellow-text-emphasis-hsl));
  --bs-yellow-hover-bg: var(--bs-yellow-600);
  --bs-yellow-active-bg: var(--bs-yellow-700);
  --bs-yellow-bg-subtle: hsl(var(--bs-yellow-hue), var(--bs-yellow-saturation), 70%);
  --bs-yellow-border-subtle: var(--bs-yellow-400);
  --bs-yellow-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-yellow-dash-svg: var(--bs-dash-svg-light);
  --bs-yellow-radio-svg: var(--bs-radio-svg-light);
  --bs-yellow-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-yellow-text-emphasis-hsl: var(--bs-yellow-400-hsl);
  --bs-yellow-text-emphasis: hsl(var(--bs-yellow-text-emphasis-hsl));
  --bs-yellow-bg-subtle: hsl(var(--bs-yellow-hue), calc(var(--bs-yellow-saturation)/3), 15%);
  --bs-yellow-border-subtle: var(--bs-yellow-600);
}

:root, [data-bs-theme=light] {
  --bs-lime-hue: 65.98584770213539;
  --bs-lime-saturation: 1;
  --bs-lime-50-hsl: 71.27, 61.74%, 88.01%;
  --bs-lime-50: hsl(var(--bs-lime-50-hsl));
  --bs-lime-50: oklch(236,243,206,1);
  --bs-lime-100-hsl: 70.58, 41.87%, 75.43%;
  --bs-lime-100: hsl(var(--bs-lime-100-hsl));
  --bs-lime-100: oklch(209,219,166,1);
  --bs-lime-200-hsl: 69.72, 35.67%, 62.91%;
  --bs-lime-200: hsl(var(--bs-lime-200-hsl));
  --bs-lime-200: oklch(183,194,127,1);
  --bs-lime-300-hsl: 68.6, 33.12%, 50.17%;
  --bs-lime-300: hsl(var(--bs-lime-300-hsl));
  --bs-lime-300: oklch(158,170,86,1);
  --bs-lime-400-hsl: 66.86, 60%, 35.83%;
  --bs-lime-400: hsl(var(--bs-lime-400-hsl));
  --bs-lime-400: oklch(134,146,37,1);
  --bs-lime-500-hsl: 65.99, 100%, 24.04%;
  --bs-lime-500: hsl(var(--bs-lime-500-hsl));
  --bs-lime-500: oklch(110,123,0,1);
  --bs-lime-600-hsl: 66.64, 100%, 19.48%;
  --bs-lime-600: hsl(var(--bs-lime-600-hsl));
  --bs-lime-600: oklch(88,99,0,1);
  --bs-lime-700-hsl: 66.8, 100%, 14.97%;
  --bs-lime-700: hsl(var(--bs-lime-700-hsl));
  --bs-lime-700: oklch(68,76,0,1);
  --bs-lime-800-hsl: 65.67, 100%, 10.53%;
  --bs-lime-800: hsl(var(--bs-lime-800-hsl));
  --bs-lime-800: oklch(49,54,0,1);
  --bs-lime-900-hsl: 61.46, 100%, 6.24%;
  --bs-lime-900: hsl(var(--bs-lime-900-hsl));
  --bs-lime-900: oklch(31,32,0,1);
  --bs-lime-950-hsl: 62.63, 100%, 2.73%;
  --bs-lime-950: hsl(var(--bs-lime-950-hsl));
  --bs-lime-950: oklch(13,14,0,1);
  --bs-lime-hsl: var(--bs-lime-500-hsl);
  --bs-lime: hsl(var(--bs-lime-hsl));
  --bs-lime-foreground-hsl: var(--bs-white-hsl);
  --bs-lime-foreground: hsl(var(--bs-lime-foreground-hsl));
  --bs-lime-text-emphasis-hsl: var(--bs-lime-600-hsl);
  --bs-lime-text-emphasis: hsl(var(--bs-lime-text-emphasis-hsl));
  --bs-lime-hover-bg: var(--bs-lime-600);
  --bs-lime-active-bg: var(--bs-lime-700);
  --bs-lime-bg-subtle: hsl(var(--bs-lime-hue), var(--bs-lime-saturation), 70%);
  --bs-lime-border-subtle: var(--bs-lime-400);
  --bs-lime-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-lime-dash-svg: var(--bs-dash-svg-light);
  --bs-lime-radio-svg: var(--bs-radio-svg-light);
  --bs-lime-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-lime-text-emphasis-hsl: var(--bs-lime-400-hsl);
  --bs-lime-text-emphasis: hsl(var(--bs-lime-text-emphasis-hsl));
  --bs-lime-bg-subtle: hsl(var(--bs-lime-hue), calc(var(--bs-lime-saturation)/3), 15%);
  --bs-lime-border-subtle: var(--bs-lime-600);
}

:root, [data-bs-theme=light] {
  --bs-green-hue: 130.90127821388518;
  --bs-green-saturation: 0.5896923019874244;
  --bs-green-50-hsl: 121.85, 68.76%, 91.4%;
  --bs-green-50: hsl(var(--bs-green-50-hsl));
  --bs-green-50: oklch(218,248,219,1);
  --bs-green-100-hsl: 122.43, 41.23%, 80.13%;
  --bs-green-100: hsl(var(--bs-green-100-hsl));
  --bs-green-100: oklch(183,225,185,1);
  --bs-green-200-hsl: 123.22, 33.7%, 68.95%;
  --bs-green-200: hsl(var(--bs-green-200-hsl));
  --bs-green-200: oklch(149,203,152,1);
  --bs-green-300-hsl: 124.38, 30.35%, 57.76%;
  --bs-green-300: hsl(var(--bs-green-300-hsl));
  --bs-green-300: oklch(115,180,119,1);
  --bs-green-400-hsl: 126.3, 33.46%, 46.32%;
  --bs-green-400: hsl(var(--bs-green-400-hsl));
  --bs-green-400: oklch(79,158,87,1);
  --bs-green-500-hsl: 130.9, 58.97%, 33.41%;
  --bs-green-500: hsl(var(--bs-green-500-hsl));
  --bs-green-500: oklch(35,135,53,1);
  --bs-green-600-hsl: 123.5, 100%, 22.24%;
  --bs-green-600: hsl(var(--bs-green-600-hsl));
  --bs-green-600: oklch(0,113,7,1);
  --bs-green-700-hsl: 120, 100%, 17.93%;
  --bs-green-700: hsl(var(--bs-green-700-hsl));
  --bs-green-700: oklch(0,91,0,1);
  --bs-green-800-hsl: 120, 100%, 13.64%;
  --bs-green-800: hsl(var(--bs-green-800-hsl));
  --bs-green-800: oklch(0,70,0,1);
  --bs-green-900-hsl: 120, 100%, 9.33%;
  --bs-green-900: hsl(var(--bs-green-900-hsl));
  --bs-green-900: oklch(0,48,0,1);
  --bs-green-950-hsl: 120, 100%, 5.02%;
  --bs-green-950: hsl(var(--bs-green-950-hsl));
  --bs-green-950: oklch(0,26,0,1);
  --bs-green-hsl: var(--bs-green-500-hsl);
  --bs-green: hsl(var(--bs-green-hsl));
  --bs-green-foreground-hsl: var(--bs-white-hsl);
  --bs-green-foreground: hsl(var(--bs-green-foreground-hsl));
  --bs-green-text-emphasis-hsl: var(--bs-green-600-hsl);
  --bs-green-text-emphasis: hsl(var(--bs-green-text-emphasis-hsl));
  --bs-green-hover-bg: var(--bs-green-600);
  --bs-green-active-bg: var(--bs-green-700);
  --bs-green-bg-subtle: hsl(var(--bs-green-hue), var(--bs-green-saturation), 70%);
  --bs-green-border-subtle: var(--bs-green-400);
  --bs-green-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-green-dash-svg: var(--bs-dash-svg-light);
  --bs-green-radio-svg: var(--bs-radio-svg-light);
  --bs-green-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-green-text-emphasis-hsl: var(--bs-green-400-hsl);
  --bs-green-text-emphasis: hsl(var(--bs-green-text-emphasis-hsl));
  --bs-green-bg-subtle: hsl(var(--bs-green-hue), calc(var(--bs-green-saturation)/3), 15%);
  --bs-green-border-subtle: var(--bs-green-600);
}

:root, [data-bs-theme=light] {
  --bs-seafoam-hue: 167.2114527085877;
  --bs-seafoam-saturation: 1;
  --bs-seafoam-50-hsl: 162.91, 82.5%, 89.12%;
  --bs-seafoam-50: hsl(var(--bs-seafoam-50-hsl));
  --bs-seafoam-50: oklch(204,250,237,1);
  --bs-seafoam-100-hsl: 163.82, 54.51%, 76.64%;
  --bs-seafoam-100: hsl(var(--bs-seafoam-100-hsl));
  --bs-seafoam-100: oklch(163,228,210,1);
  --bs-seafoam-200-hsl: 165.05, 46.72%, 63.78%;
  --bs-seafoam-200: hsl(var(--bs-seafoam-200-hsl));
  --bs-seafoam-200: oklch(119,206,184,1);
  --bs-seafoam-300-hsl: 167.03, 45.75%, 49.45%;
  --bs-seafoam-300: hsl(var(--bs-seafoam-300-hsl));
  --bs-seafoam-300: oklch(68,184,159,1);
  --bs-seafoam-400-hsl: 169.71, 100%, 31.74%;
  --bs-seafoam-400: hsl(var(--bs-seafoam-400-hsl));
  --bs-seafoam-400: oklch(0,162,134,1);
  --bs-seafoam-500-hsl: 167.21, 100%, 27.45%;
  --bs-seafoam-500: hsl(var(--bs-seafoam-500-hsl));
  --bs-seafoam-500: oklch(0,140,110,1);
  --bs-seafoam-600-hsl: 164.21, 100%, 23.18%;
  --bs-seafoam-600: hsl(var(--bs-seafoam-600-hsl));
  --bs-seafoam-600: oklch(0,118,87,1);
  --bs-seafoam-700-hsl: 160.48, 100%, 18.89%;
  --bs-seafoam-700: hsl(var(--bs-seafoam-700-hsl));
  --bs-seafoam-700: oklch(0,96,65,1);
  --bs-seafoam-800-hsl: 155.49, 100%, 14.58%;
  --bs-seafoam-800: hsl(var(--bs-seafoam-800-hsl));
  --bs-seafoam-800: oklch(0,74,44,1);
  --bs-seafoam-900-hsl: 147.92, 100%, 10.23%;
  --bs-seafoam-900: hsl(var(--bs-seafoam-900-hsl));
  --bs-seafoam-900: oklch(0,52,24,1);
  --bs-seafoam-950-hsl: 133.07, 100%, 5.8%;
  --bs-seafoam-950: hsl(var(--bs-seafoam-950-hsl));
  --bs-seafoam-950: oklch(0,30,6,1);
  --bs-seafoam-hsl: var(--bs-seafoam-500-hsl);
  --bs-seafoam: hsl(var(--bs-seafoam-hsl));
  --bs-seafoam-foreground-hsl: var(--bs-white-hsl);
  --bs-seafoam-foreground: hsl(var(--bs-seafoam-foreground-hsl));
  --bs-seafoam-text-emphasis-hsl: var(--bs-seafoam-600-hsl);
  --bs-seafoam-text-emphasis: hsl(var(--bs-seafoam-text-emphasis-hsl));
  --bs-seafoam-hover-bg: var(--bs-seafoam-600);
  --bs-seafoam-active-bg: var(--bs-seafoam-700);
  --bs-seafoam-bg-subtle: hsl(var(--bs-seafoam-hue), var(--bs-seafoam-saturation), 70%);
  --bs-seafoam-border-subtle: var(--bs-seafoam-400);
  --bs-seafoam-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-seafoam-dash-svg: var(--bs-dash-svg-light);
  --bs-seafoam-radio-svg: var(--bs-radio-svg-light);
  --bs-seafoam-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-seafoam-text-emphasis-hsl: var(--bs-seafoam-400-hsl);
  --bs-seafoam-text-emphasis: hsl(var(--bs-seafoam-text-emphasis-hsl));
  --bs-seafoam-bg-subtle: hsl(var(--bs-seafoam-hue), calc(var(--bs-seafoam-saturation)/3), 15%);
  --bs-seafoam-border-subtle: var(--bs-seafoam-600);
}

:root, [data-bs-theme=light] {
  --bs-cyan-hue: 187.8815524252393;
  --bs-cyan-saturation: 1;
  --bs-cyan-50-hsl: 186.79, 100%, 89.29%;
  --bs-cyan-50: hsl(var(--bs-cyan-50-hsl));
  --bs-cyan-50: oklch(200,249,255,1);
  --bs-cyan-100-hsl: 186.81, 65.95%, 76.81%;
  --bs-cyan-100: hsl(var(--bs-cyan-100-hsl));
  --bs-cyan-100: oklch(157,226,235,1);
  --bs-cyan-200-hsl: 186.62, 56.6%, 63.74%;
  --bs-cyan-200: hsl(var(--bs-cyan-200-hsl));
  --bs-cyan-200: oklch(110,203,215,1);
  --bs-cyan-300-hsl: 185.93, 59.39%, 48%;
  --bs-cyan-300: hsl(var(--bs-cyan-300-hsl));
  --bs-cyan-300: oklch(50,181,195,1);
  --bs-cyan-400-hsl: 185.93, 100%, 34.41%;
  --bs-cyan-400: hsl(var(--bs-cyan-400-hsl));
  --bs-cyan-400: oklch(0,158,175,1);
  --bs-cyan-500-hsl: 187.88, 100%, 30.6%;
  --bs-cyan-500: hsl(var(--bs-cyan-500-hsl));
  --bs-cyan-500: oklch(0,136,156,1);
  --bs-cyan-600-hsl: 190.49, 100%, 26.83%;
  --bs-cyan-600: hsl(var(--bs-cyan-600-hsl));
  --bs-cyan-600: oklch(0,113,137,1);
  --bs-cyan-700-hsl: 194.11, 100%, 23.1%;
  --bs-cyan-700: hsl(var(--bs-cyan-700-hsl));
  --bs-cyan-700: oklch(0,90,118,1);
  --bs-cyan-800-hsl: 199.44, 100%, 19.4%;
  --bs-cyan-800: hsl(var(--bs-cyan-800-hsl));
  --bs-cyan-800: oklch(0,67,99,1);
  --bs-cyan-900-hsl: 208.05, 100%, 15.73%;
  --bs-cyan-900: hsl(var(--bs-cyan-900-hsl));
  --bs-cyan-900: oklch(0,43,80,1);
  --bs-cyan-950-hsl: 224.83, 100%, 12.07%;
  --bs-cyan-950: hsl(var(--bs-cyan-950-hsl));
  --bs-cyan-950: oklch(0,16,62,1);
  --bs-cyan-hsl: var(--bs-cyan-500-hsl);
  --bs-cyan: hsl(var(--bs-cyan-hsl));
  --bs-cyan-foreground-hsl: var(--bs-white-hsl);
  --bs-cyan-foreground: hsl(var(--bs-cyan-foreground-hsl));
  --bs-cyan-text-emphasis-hsl: var(--bs-cyan-600-hsl);
  --bs-cyan-text-emphasis: hsl(var(--bs-cyan-text-emphasis-hsl));
  --bs-cyan-hover-bg: var(--bs-cyan-600);
  --bs-cyan-active-bg: var(--bs-cyan-700);
  --bs-cyan-bg-subtle: hsl(var(--bs-cyan-hue), var(--bs-cyan-saturation), 70%);
  --bs-cyan-border-subtle: var(--bs-cyan-400);
  --bs-cyan-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-cyan-dash-svg: var(--bs-dash-svg-light);
  --bs-cyan-radio-svg: var(--bs-radio-svg-light);
  --bs-cyan-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-cyan-text-emphasis-hsl: var(--bs-cyan-400-hsl);
  --bs-cyan-text-emphasis: hsl(var(--bs-cyan-text-emphasis-hsl));
  --bs-cyan-bg-subtle: hsl(var(--bs-cyan-hue), calc(var(--bs-cyan-saturation)/3), 15%);
  --bs-cyan-border-subtle: var(--bs-cyan-600);
}

:root, [data-bs-theme=light] {
  --bs-blue-hue: 200.63093947472922;
  --bs-blue-saturation: 1;
  --bs-blue-50-hsl: 193.17, 100%, 90.7%;
  --bs-blue-50: hsl(var(--bs-blue-50-hsl));
  --bs-blue-50: oklch(208,245,255,1);
  --bs-blue-100-hsl: 203.04, 94.58%, 82.51%;
  --bs-blue-100: hsl(var(--bs-blue-100-hsl));
  --bs-blue-100: oklch(168,220,253,1);
  --bs-blue-200-hsl: 202.57, 74.91%, 71.56%;
  --bs-blue-200: hsl(var(--bs-blue-200-hsl));
  --bs-blue-200: oklch(128,196,237,1);
  --bs-blue-300-hsl: 201.67, 66.5%, 59.98%;
  --bs-blue-300: hsl(var(--bs-blue-300-hsl));
  --bs-blue-300: oklch(85,172,221,1);
  --bs-blue-400-hsl: 198.89, 79.2%, 44.78%;
  --bs-blue-400: hsl(var(--bs-blue-400-hsl));
  --bs-blue-400: oklch(24,148,205,1);
  --bs-blue-500-hsl: 200.63, 100%, 36.89%;
  --bs-blue-500: hsl(var(--bs-blue-500-hsl));
  --bs-blue-500: oklch(0,123,188,1);
  --bs-blue-600-hsl: 205.39, 100%, 33.62%;
  --bs-blue-600: hsl(var(--bs-blue-600-hsl));
  --bs-blue-600: oklch(0,99,171,1);
  --bs-blue-700-hsl: 211.46, 100%, 30.28%;
  --bs-blue-700: hsl(var(--bs-blue-700-hsl));
  --bs-blue-700: oklch(0,73,154,1);
  --bs-blue-800-hsl: 220.07, 100%, 26.9%;
  --bs-blue-800: hsl(var(--bs-blue-800-hsl));
  --bs-blue-800: oklch(0,46,137,1);
  --bs-blue-900-hsl: 238.8, 100%, 23.45%;
  --bs-blue-900: hsl(var(--bs-blue-900-hsl));
  --bs-blue-900: oklch(0,2,120,1);
  --bs-blue-950-hsl: 240.47, 100%, 19.94%;
  --bs-blue-950: hsl(var(--bs-blue-950-hsl));
  --bs-blue-950: oklch(1,0,102,1);
  --bs-blue-hsl: var(--bs-blue-500-hsl);
  --bs-blue: hsl(var(--bs-blue-hsl));
  --bs-blue-foreground-hsl: var(--bs-white-hsl);
  --bs-blue-foreground: hsl(var(--bs-blue-foreground-hsl));
  --bs-blue-text-emphasis-hsl: var(--bs-blue-600-hsl);
  --bs-blue-text-emphasis: hsl(var(--bs-blue-text-emphasis-hsl));
  --bs-blue-hover-bg: var(--bs-blue-600);
  --bs-blue-active-bg: var(--bs-blue-700);
  --bs-blue-bg-subtle: hsl(var(--bs-blue-hue), var(--bs-blue-saturation), 70%);
  --bs-blue-border-subtle: var(--bs-blue-400);
  --bs-blue-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-blue-dash-svg: var(--bs-dash-svg-light);
  --bs-blue-radio-svg: var(--bs-radio-svg-light);
  --bs-blue-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-blue-text-emphasis-hsl: var(--bs-blue-400-hsl);
  --bs-blue-text-emphasis: hsl(var(--bs-blue-text-emphasis-hsl));
  --bs-blue-bg-subtle: hsl(var(--bs-blue-hue), calc(var(--bs-blue-saturation)/3), 15%);
  --bs-blue-border-subtle: var(--bs-blue-600);
}

:root, [data-bs-theme=light] {
  --bs-indigo-hue: 223.4902740101163;
  --bs-indigo-saturation: 0.5398603259846879;
  --bs-indigo-50-hsl: 210.58, 100%, 93.69%;
  --bs-indigo-50: hsl(var(--bs-indigo-50-hsl));
  --bs-indigo-50: oklch(223,239,255,1);
  --bs-indigo-100-hsl: 220.13, 100%, 87.39%;
  --bs-indigo-100: hsl(var(--bs-indigo-100-hsl));
  --bs-indigo-100: oklch(191,212,255,1);
  --bs-indigo-200-hsl: 221.67, 81.41%, 79.35%;
  --bs-indigo-200: hsl(var(--bs-indigo-200-hsl));
  --bs-indigo-200: oklch(159,186,245,1);
  --bs-indigo-300-hsl: 222.05, 67.54%, 70.55%;
  --bs-indigo-300: hsl(var(--bs-indigo-300-hsl));
  --bs-indigo-300: oklch(129,160,231,1);
  --bs-indigo-400-hsl: 222.61, 59.52%, 61.87%;
  --bs-indigo-400: hsl(var(--bs-indigo-400-hsl));
  --bs-indigo-400: oklch(100,133,216,1);
  --bs-indigo-500-hsl: 223.49, 53.99%, 53.34%;
  --bs-indigo-500: hsl(var(--bs-indigo-500-hsl));
  --bs-indigo-500: oklch(72,107,200,1);
  --bs-indigo-600-hsl: 225.01, 60.59%, 45.04%;
  --bs-indigo-600: hsl(var(--bs-indigo-600-hsl));
  --bs-indigo-600: oklch(45,80,184,1);
  --bs-indigo-700-hsl: 228.33, 77.2%, 37.24%;
  --bs-indigo-700: hsl(var(--bs-indigo-700-hsl));
  --bs-indigo-700: oklch(22,50,168,1);
  --bs-indigo-800-hsl: 243.41, 98.91%, 29.89%;
  --bs-indigo-800: hsl(var(--bs-indigo-800-hsl));
  --bs-indigo-800: oklch(9,1,152,1);
  --bs-indigo-900-hsl: 248, 100%, 26.38%;
  --bs-indigo-900: hsl(var(--bs-indigo-900-hsl));
  --bs-indigo-900: oklch(18,0,135,1);
  --bs-indigo-950-hsl: 254.51, 100%, 22.96%;
  --bs-indigo-950: hsl(var(--bs-indigo-950-hsl));
  --bs-indigo-950: oklch(28,0,117,1);
  --bs-indigo-hsl: var(--bs-indigo-500-hsl);
  --bs-indigo: hsl(var(--bs-indigo-hsl));
  --bs-indigo-foreground-hsl: var(--bs-white-hsl);
  --bs-indigo-foreground: hsl(var(--bs-indigo-foreground-hsl));
  --bs-indigo-text-emphasis-hsl: var(--bs-indigo-600-hsl);
  --bs-indigo-text-emphasis: hsl(var(--bs-indigo-text-emphasis-hsl));
  --bs-indigo-hover-bg: var(--bs-indigo-600);
  --bs-indigo-active-bg: var(--bs-indigo-700);
  --bs-indigo-bg-subtle: hsl(var(--bs-indigo-hue), var(--bs-indigo-saturation), 70%);
  --bs-indigo-border-subtle: var(--bs-indigo-400);
  --bs-indigo-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-indigo-dash-svg: var(--bs-dash-svg-light);
  --bs-indigo-radio-svg: var(--bs-radio-svg-light);
  --bs-indigo-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-indigo-text-emphasis-hsl: var(--bs-indigo-400-hsl);
  --bs-indigo-text-emphasis: hsl(var(--bs-indigo-text-emphasis-hsl));
  --bs-indigo-bg-subtle: hsl(var(--bs-indigo-hue), calc(var(--bs-indigo-saturation)/3), 15%);
  --bs-indigo-border-subtle: var(--bs-indigo-600);
}

:root, [data-bs-theme=light] {
  --bs-violet-hue: 259.3828509241954;
  --bs-violet-saturation: 0.4317610467787969;
  --bs-violet-50-hsl: 262.51, 100%, 95.56%;
  --bs-violet-50: hsl(var(--bs-violet-50-hsl));
  --bs-violet-50: oklch(241,232,255,1);
  --bs-violet-100-hsl: 254.51, 95.72%, 89.69%;
  --bs-violet-100: hsl(var(--bs-violet-100-hsl));
  --bs-violet-100: oklch(216,204,254,1);
  --bs-violet-200-hsl: 255.33, 65.43%, 81.06%;
  --bs-violet-200: hsl(var(--bs-violet-200-hsl));
  --bs-violet-200: oklch(191,175,238,1);
  --bs-violet-300-hsl: 256.34, 53.69%, 72.43%;
  --bs-violet-300: hsl(var(--bs-violet-300-hsl));
  --bs-violet-300: oklch(168,147,222,1);
  --bs-violet-400-hsl: 257.64, 47.26%, 63.78%;
  --bs-violet-400: hsl(var(--bs-violet-400-hsl));
  --bs-violet-400: oklch(145,119,206,1);
  --bs-violet-500-hsl: 259.38, 43.18%, 55.03%;
  --bs-violet-500: hsl(var(--bs-violet-500-hsl));
  --bs-violet-500: oklch(123,91,190,1);
  --bs-violet-600-hsl: 261.92, 47.74%, 45.93%;
  --bs-violet-600: hsl(var(--bs-violet-600-hsl));
  --bs-violet-600: oklch(102,61,173,1);
  --bs-violet-700-hsl: 266.61, 72.84%, 35.37%;
  --bs-violet-700: hsl(var(--bs-violet-700-hsl));
  --bs-violet-700: oklch(83,24,156,1);
  --bs-violet-800-hsl: 268.29, 100%, 27.13%;
  --bs-violet-800: hsl(var(--bs-violet-800-hsl));
  --bs-violet-800: oklch(65,0,138,1);
  --bs-violet-900-hsl: 264.89, 100%, 23.63%;
  --bs-violet-900: hsl(var(--bs-violet-900-hsl));
  --bs-violet-900: oklch(50,0,120,1);
  --bs-violet-950-hsl: 262.06, 100%, 20.05%;
  --bs-violet-950: hsl(var(--bs-violet-950-hsl));
  --bs-violet-950: oklch(38,0,102,1);
  --bs-violet-hsl: var(--bs-violet-500-hsl);
  --bs-violet: hsl(var(--bs-violet-hsl));
  --bs-violet-foreground-hsl: var(--bs-white-hsl);
  --bs-violet-foreground: hsl(var(--bs-violet-foreground-hsl));
  --bs-violet-text-emphasis-hsl: var(--bs-violet-600-hsl);
  --bs-violet-text-emphasis: hsl(var(--bs-violet-text-emphasis-hsl));
  --bs-violet-hover-bg: var(--bs-violet-600);
  --bs-violet-active-bg: var(--bs-violet-700);
  --bs-violet-bg-subtle: hsl(var(--bs-violet-hue), var(--bs-violet-saturation), 70%);
  --bs-violet-border-subtle: var(--bs-violet-400);
  --bs-violet-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-violet-dash-svg: var(--bs-dash-svg-light);
  --bs-violet-radio-svg: var(--bs-radio-svg-light);
  --bs-violet-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-violet-text-emphasis-hsl: var(--bs-violet-400-hsl);
  --bs-violet-text-emphasis: hsl(var(--bs-violet-text-emphasis-hsl));
  --bs-violet-bg-subtle: hsl(var(--bs-violet-hue), calc(var(--bs-violet-saturation)/3), 15%);
  --bs-violet-border-subtle: var(--bs-violet-600);
}

:root, [data-bs-theme=light] {
  --bs-purple-hue: 297.81492618969605;
  --bs-purple-saturation: 0.34843952514200754;
  --bs-purple-50-hsl: 300, 100%, 94.61%;
  --bs-purple-50: hsl(var(--bs-purple-50-hsl));
  --bs-purple-50: oklch(255,228,255,1);
  --bs-purple-100-hsl: 299.69, 53.33%, 85.13%;
  --bs-purple-100: hsl(var(--bs-purple-100-hsl));
  --bs-purple-100: oklch(237,197,237,1);
  --bs-purple-200-hsl: 299.28, 40.71%, 75.39%;
  --bs-purple-200: hsl(var(--bs-purple-200-hsl));
  --bs-purple-200: oklch(217,167,218,1);
  --bs-purple-300-hsl: 298.82, 35.17%, 65.73%;
  --bs-purple-300: hsl(var(--bs-purple-300-hsl));
  --bs-purple-300: oklch(197,137,198,1);
  --bs-purple-400-hsl: 298.33, 32.06%, 56.12%;
  --bs-purple-400: hsl(var(--bs-purple-400-hsl));
  --bs-purple-400: oklch(177,107,179,1);
  --bs-purple-500-hsl: 297.81, 34.84%, 46.44%;
  --bs-purple-500: hsl(var(--bs-purple-500-hsl));
  --bs-purple-500: oklch(157,77,160,1);
  --bs-purple-600-hsl: 297.33, 51.91%, 36.25%;
  --bs-purple-600: hsl(var(--bs-purple-600-hsl));
  --bs-purple-600: oklch(136,44,140,1);
  --bs-purple-700-hsl: 297.11, 100%, 23.76%;
  --bs-purple-700: hsl(var(--bs-purple-700-hsl));
  --bs-purple-700: oklch(115,0,121,1);
  --bs-purple-800-hsl: 295.44, 100%, 19.98%;
  --bs-purple-800: hsl(var(--bs-purple-800-hsl));
  --bs-purple-800: oklch(94,0,102,1);
  --bs-purple-900-hsl: 292.67, 100%, 16.19%;
  --bs-purple-900: hsl(var(--bs-purple-900-hsl));
  --bs-purple-900: oklch(72,0,83,1);
  --bs-purple-950-hsl: 287.62, 100%, 12.39%;
  --bs-purple-950: hsl(var(--bs-purple-950-hsl));
  --bs-purple-950: oklch(50,0,63,1);
  --bs-purple-hsl: var(--bs-purple-500-hsl);
  --bs-purple: hsl(var(--bs-purple-hsl));
  --bs-purple-foreground-hsl: var(--bs-white-hsl);
  --bs-purple-foreground: hsl(var(--bs-purple-foreground-hsl));
  --bs-purple-text-emphasis-hsl: var(--bs-purple-600-hsl);
  --bs-purple-text-emphasis: hsl(var(--bs-purple-text-emphasis-hsl));
  --bs-purple-hover-bg: var(--bs-purple-600);
  --bs-purple-active-bg: var(--bs-purple-700);
  --bs-purple-bg-subtle: hsl(var(--bs-purple-hue), var(--bs-purple-saturation), 70%);
  --bs-purple-border-subtle: var(--bs-purple-400);
  --bs-purple-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-purple-dash-svg: var(--bs-dash-svg-light);
  --bs-purple-radio-svg: var(--bs-radio-svg-light);
  --bs-purple-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-purple-text-emphasis-hsl: var(--bs-purple-400-hsl);
  --bs-purple-text-emphasis: hsl(var(--bs-purple-text-emphasis-hsl));
  --bs-purple-bg-subtle: hsl(var(--bs-purple-hue), calc(var(--bs-purple-saturation)/3), 15%);
  --bs-purple-border-subtle: var(--bs-purple-600);
}

:root, [data-bs-theme=light] {
  --bs-fuchsia-hue: 333.77190886300565;
  --bs-fuchsia-saturation: 0.4434452959233186;
  --bs-fuchsia-50-hsl: 331.41, 100%, 94.18%;
  --bs-fuchsia-50: hsl(var(--bs-fuchsia-50-hsl));
  --bs-fuchsia-50: oklch(255,225,239,1);
  --bs-fuchsia-100-hsl: 339.21, 87.91%, 87.22%;
  --bs-fuchsia-100: hsl(var(--bs-fuchsia-100-hsl));
  --bs-fuchsia-100: oklch(251,194,214,1);
  --bs-fuchsia-200-hsl: 338.33, 62.71%, 77.73%;
  --bs-fuchsia-200: hsl(var(--bs-fuchsia-200-hsl));
  --bs-fuchsia-200: oklch(234,163,188,1);
  --bs-fuchsia-300-hsl: 337.24, 51.84%, 68.16%;
  --bs-fuchsia-300: hsl(var(--bs-fuchsia-300-hsl));
  --bs-fuchsia-300: oklch(216,132,164,1);
  --bs-fuchsia-400-hsl: 335.82, 45.53%, 58.43%;
  --bs-fuchsia-400: hsl(var(--bs-fuchsia-400-hsl));
  --bs-fuchsia-400: oklch(197,101,140,1);
  --bs-fuchsia-500-hsl: 333.77, 44.34%, 48.31%;
  --bs-fuchsia-500: hsl(var(--bs-fuchsia-500-hsl));
  --bs-fuchsia-500: oklch(178,69,116,1);
  --bs-fuchsia-600-hsl: 330, 67.94%, 36.79%;
  --bs-fuchsia-600: hsl(var(--bs-fuchsia-600-hsl));
  --bs-fuchsia-600: oklch(158,30,94,1);
  --bs-fuchsia-700-hsl: 328.25, 100%, 26.74%;
  --bs-fuchsia-700: hsl(var(--bs-fuchsia-700-hsl));
  --bs-fuchsia-700: oklch(136,0,72,1);
  --bs-fuchsia-800-hsl: 332.92, 100%, 22.38%;
  --bs-fuchsia-800: hsl(var(--bs-fuchsia-800-hsl));
  --bs-fuchsia-800: oklch(114,0,52,1);
  --bs-fuchsia-900-hsl: 338.82, 100%, 17.79%;
  --bs-fuchsia-900: hsl(var(--bs-fuchsia-900-hsl));
  --bs-fuchsia-900: oklch(91,0,32,1);
  --bs-fuchsia-950-hsl: 347.34, 100%, 12.93%;
  --bs-fuchsia-950: hsl(var(--bs-fuchsia-950-hsl));
  --bs-fuchsia-950: oklch(66,0,14,1);
  --bs-fuchsia-hsl: var(--bs-fuchsia-500-hsl);
  --bs-fuchsia: hsl(var(--bs-fuchsia-hsl));
  --bs-fuchsia-foreground-hsl: var(--bs-white-hsl);
  --bs-fuchsia-foreground: hsl(var(--bs-fuchsia-foreground-hsl));
  --bs-fuchsia-text-emphasis-hsl: var(--bs-fuchsia-600-hsl);
  --bs-fuchsia-text-emphasis: hsl(var(--bs-fuchsia-text-emphasis-hsl));
  --bs-fuchsia-hover-bg: var(--bs-fuchsia-600);
  --bs-fuchsia-active-bg: var(--bs-fuchsia-700);
  --bs-fuchsia-bg-subtle: hsl(var(--bs-fuchsia-hue), var(--bs-fuchsia-saturation), 70%);
  --bs-fuchsia-border-subtle: var(--bs-fuchsia-400);
  --bs-fuchsia-checkbox-svg: var(--bs-checkbox-svg-light);
  --bs-fuchsia-dash-svg: var(--bs-dash-svg-light);
  --bs-fuchsia-radio-svg: var(--bs-radio-svg-light);
  --bs-fuchsia-switch-svg: var(--bs-switch-svg-light);
}
[data-bs-theme=dark] {
  --bs-fuchsia-text-emphasis-hsl: var(--bs-fuchsia-400-hsl);
  --bs-fuchsia-text-emphasis: hsl(var(--bs-fuchsia-text-emphasis-hsl));
  --bs-fuchsia-bg-subtle: hsl(var(--bs-fuchsia-hue), calc(var(--bs-fuchsia-saturation)/3), 15%);
  --bs-fuchsia-border-subtle: var(--bs-fuchsia-600);
}
    
/* Primary Color Overrides */
:root, [data-bs-theme=light] {
  --bs-primary-hue: var(--bs-fuchsia-hue);
  --bs-primary-saturation: var(--bs-fuchsia-saturation);
  --bs-primary-100-hsl: var(--bs-fuchsia-100-hsl);
  --bs-primary-200-hsl: var(--bs-fuchsia-200-hsl);
  --bs-primary-300-hsl: var(--bs-fuchsia-300-hsl);
  --bs-primary-400-hsl: var(--bs-fuchsia-400-hsl);
  --bs-primary-500-hsl: var(--bs-fuchsia-500-hsl);
  --bs-primary-600-hsl: var(--bs-fuchsia-600-hsl);
  --bs-primary-700-hsl: var(--bs-fuchsia-700-hsl);
  --bs-primary-800-hsl: var(--bs-fuchsia-800-hsl);
  --bs-primary-900-hsl: var(--bs-fuchsia-900-hsl);
  --bs-primary-100: var(--bs-fuchsia-100);
  --bs-primary-200: var(--bs-fuchsia-200);
  --bs-primary-300: var(--bs-fuchsia-300);
  --bs-primary-400: var(--bs-fuchsia-400);
  --bs-primary-500: var(--bs-fuchsia-500);
  --bs-primary-600: var(--bs-fuchsia-600);
  --bs-primary-700: var(--bs-fuchsia-700);
  --bs-primary-800: var(--bs-fuchsia-800);
  --bs-primary-900: var(--bs-fuchsia-900);
  --bs-primary-hsl: var(--bs-fuchsia-hsl);
  --bs-primary: var(--bs-fuchsia);
  --bs-primary-foreground-hsl: var(--bs-fuchsia-foreground-hsl);
  --bs-primary-foreground: var(--bs-fuchsia-foreground);
  --bs-primary-text-emphasis-hsl: var(--bs-fuchsia-text-emphasis-hsl);
  --bs-primary-text-emphasis: var(--bs-fuchsia-text-emphasis);
  --bs-primary-hover-bg: var(--bs-fuchsia-hover-bg);
  --bs-primary-active-bg: var(--bs-fuchsia-active-bg);
  --bs-primary-bg-subtle: var(--bs-fuchsia-bg-subtle);
  --bs-primary-border-subtle: var(--bs-fuchsia-border-subtle);
  --bs-primary-checkbox-svg: var(--bs-fuchsia-checkbox-svg);
  --bs-primary-dash-svg: var(--bs-fuchsia-dash-svg);
  --bs-primary-radio-svg: var(--bs-fuchsia-radio-svg);
  --bs-primary-switch-svg: var(--bs-fuchsia-switch-svg);
}
[data-bs-theme=dark] {
  --bs-primary-text-emphasis-hsl: var(--bs-fuchsia-text-emphasis-hsl);
  --bs-primary-text-emphasis: var(--bs-fuchsia-text-emphasis);
  --bs-primary-bg-subtle: var(--bs-fuchsia-bg-subtle);
  --bs-primary-border-subtle: var(--bs-fuchsia-border-subtle);
}
    
/* Info Color Overrides */
:root, [data-bs-theme=light] {
  --bs-info-hue: var(--bs-violet-hue);
  --bs-info-saturation: var(--bs-violet-saturation);
  --bs-info-100-hsl: var(--bs-violet-100-hsl);
  --bs-info-200-hsl: var(--bs-violet-200-hsl);
  --bs-info-300-hsl: var(--bs-violet-300-hsl);
  --bs-info-400-hsl: var(--bs-violet-400-hsl);
  --bs-info-500-hsl: var(--bs-violet-500-hsl);
  --bs-info-600-hsl: var(--bs-violet-600-hsl);
  --bs-info-700-hsl: var(--bs-violet-700-hsl);
  --bs-info-800-hsl: var(--bs-violet-800-hsl);
  --bs-info-900-hsl: var(--bs-violet-900-hsl);
  --bs-info-100: var(--bs-violet-100);
  --bs-info-200: var(--bs-violet-200);
  --bs-info-300: var(--bs-violet-300);
  --bs-info-400: var(--bs-violet-400);
  --bs-info-500: var(--bs-violet-500);
  --bs-info-600: var(--bs-violet-600);
  --bs-info-700: var(--bs-violet-700);
  --bs-info-800: var(--bs-violet-800);
  --bs-info-900: var(--bs-violet-900);
  --bs-info-hsl: var(--bs-violet-hsl);
  --bs-info: var(--bs-violet);
  --bs-info-foreground-hsl: var(--bs-violet-foreground-hsl);
  --bs-info-foreground: var(--bs-violet-foreground);
  --bs-info-text-emphasis-hsl: var(--bs-violet-text-emphasis-hsl);
  --bs-info-text-emphasis: var(--bs-violet-text-emphasis);
  --bs-info-hover-bg: var(--bs-violet-hover-bg);
  --bs-info-active-bg: var(--bs-violet-active-bg);
  --bs-info-bg-subtle: var(--bs-violet-bg-subtle);
  --bs-info-border-subtle: var(--bs-violet-border-subtle);
  --bs-info-checkbox-svg: var(--bs-violet-checkbox-svg);
  --bs-info-dash-svg: var(--bs-violet-dash-svg);
  --bs-info-radio-svg: var(--bs-violet-radio-svg);
  --bs-info-switch-svg: var(--bs-violet-switch-svg);
}
[data-bs-theme=dark] {
  --bs-info-text-emphasis-hsl: var(--bs-violet-text-emphasis-hsl);
  --bs-info-text-emphasis: var(--bs-violet-text-emphasis);
  --bs-info-bg-subtle: var(--bs-violet-bg-subtle);
  --bs-info-border-subtle: var(--bs-violet-border-subtle);
}
